<!-- views/inscription.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Inscription</h1>

    <form action="/inscription" method="POST">
        <!-- Champs d'email, nom, et prénom en lecture seule -->
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" value="<%= email %>" readonly>

        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" value="nom" >

        <label for="prenom">Prénom:</label>
        <input type="text" id="prenom" name="prenom" value="prenom" >

        <!-- Autres champs à ajouter -->

        <label for="nomJeuneFille">Nom de jeune fille:</label>
        <input type="text" id="nomJeuneFille" name="nomJeuneFille">

        <label for="sexe">Sexe:</label>
        <select id="sexe" name="sexe">
            <option value="Homme">Homme</option>
            <option value="Femme">Femme</option>
        </select>

        <label for="dateNaissance">Date de naissance:</label>
        <input type="date" id="dateNaissance" name="dateNaissance">

        <label for="Nationalite">Nationalité:</label>
        <input type="text" id="Nationalite" name="Nationalite">

        <label for="taille">Taille:</label>
        <input type="number" id="taille" name="taille">

        <label for="telephone">Téléphone:</label>
        <input type="tel" id="telephone" name="telephone">

        <label for="cin">CIN:</label>
        <input type="text" id="cin" name="cin">

        <label for="situationPro">Situation professionnelle:</label>
        <input type="text" id="situationPro" name="situationPro">

        <label for="role">Rôle:</label>
        <select id="role" name="role">
            <option value="manager">Manager</option>
            <option value="admin">Admin</option>
            <option value="choriste">Choriste</option>
            <option value="candidat">Candidat</option>
        </select>

        <label for="etat">État:</label>
        <select id="etat" name="etat">
            <option value="confirmer">Confirmer</option>
            <option value="infirmer">Infirmer</option>
        </select>

        <!-- Bouton de soumission ou autre élément de formulaire si nécessaire -->
        <button type="submit">S'inscrire</button>
    </form>

    <!-- Autre contenu de la page si nécessaire -->
</body>

</html>